@section Styles {
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
}
<section class="cntr">
    <h1>Thank you for your Order</h1>

    <a asp-controller="Orders" asp-action="Index" class="btn btn-primary">Go To Orders</a>
</section>