@model Product
@inject ApplicationDbContext _context;

@{
	ViewData["Title"] = "Product Details";
}
@section Styles {
	<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
<section class="py-5">
	<div class="container mt-5 mb-5">
		<div class="card">
			<div class="row g-0">
				<!-- Left Side (Image) -->
				<div class="col-md-4 border-end d-flex align-items-center justify-content-center">
					<div class="main_image">
						<img src="@Model.Image" id="main_product_image" width="350" alt="Product Image">
					</div>
				</div>

				<!-- Right Side (Content) -->
				<div class="col-md-8">
					<div class="p-3 right-side">
						<h3>@Model.Name</h3>
						<div class="mt-2 pr-3 content">
							<p>
								@Html.Raw(Model.Description.Replace("\n", "<br />"))
							</p>
						</div>
						<h3 class="text-success">$@Model.Price</h3>



						@{
							var P = _context.Carts.FirstOrDefault(c => c.ProductId == Model.Id);
						}

						@if (P == null && Model.ProductsInStock != 0)
						{
							<!-- Buttons -->
							<div class="mt-4">
								<a class="btn btn-primary me-2" asp-controller="Cart" asp-action="AddToCart"
									asp-route-ProductId="@Model.Id">Add to Cart</a>
							</div>
						}



					</div>
				</div>

			</div>
		</div>
	</div>
</section>
